<strong>Ola, {{ provider }}</strong>
<p> Voce tem um novo inscrito para o Meetup <strong>{{meetup}}</strong></p>
<p><strong>Inscrito:</strong> {{ user.name }}</p>
<p><strong>Email:</strong>{{user.email}}</p>
